* {
	font-size: 16px;
	box-sizing: border-box;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}


body {
	background: url("../images/background_480.png") top left no-repeat;
	background-size: 100%;
	background-color: black;
}

h2 {
	position: relative;
	left: 0.625em;
	top: 2em;
	font-size: 1.5em;
	font-family: Helvetica;
	text-align: center;
	text-decoration: overline underline;
}

button {
	font-size: 0.9em;
	color: #fff;
	border: none;
	background: transparent;
	font-weight: lighter;
	padding: 0 5px;
}

#form_sign_up {
	position: absolute;
  	left: 50%;
  	top: 55%;
  	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 0.8em;
    background:rgba(0,0,0,1);
    line-height: 2em;
    padding: 0.5em;
    border-radius: 1em;
	border: 0.3em solid white;
    max-height: 60%;
	/*overflow: scroll;*/
}


input[type="text"] {
    width: 150px;
}

input[type="password"] {
    width: 150px;
}

#user {
	float: right;
}

#pass {
	float: right;
}


.back_button {
	position: absolute;
	left: 0.625em;
	top: 0.9375em;
	background-color: transparent;
	text-decoration: none;
	border: none;
	font-weight: bold;
	font-size: 1.8em;
}

.back_button:active {
	text-decoration: none;
	border: none;
}

#btn_sign_up {
	text-decoration: none;
	float: right;
	margin-top: 0.4em;
}




@media screen and (min-width: 720px) {


	body {
		background-image: url("../images/background_720.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}

	h2 {
		font-size: 2em;
	}

	#form_sign_up {
		top: 65%;
	}
}


@media screen and (min-width: 1080px) {


	body {
		background-image: url("../images/background_1080.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}

	h2 {
		font-size: 3em;
	}

	#form_sign_up {
		top: 75%;
	}
}